.Board {
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
  justify-content: center;
}

.Board>div {
  display: contents;
  display: flex;
  width: 40%;
}

.Board>div:nth-child(even){
 flex-flow: row-reverse;
 justify-content: start;
}

.Board>div:nth-child(odd){
  justify-content: end;
}