.Discard {
  box-sizing:border-box;
  border: 2px solid white;
  background-color: black;
  border-radius: 5px;
  width: 64px;
  height: 96px;
  opacity: 40%;
}

.Discard:empty{
  opacity: 40%;
  border: 2px solid black;
}
