.Stack {
  box-sizing:border-box;
  background-color: black;
  border-radius: 5px;
  width: 64px;
  height: 96px;
  margin-left: 10px;
  margin-right: 10px;
}

.Stack:empty{
  opacity: 40%;
  border: 2px solid black;
}
