.WorkingPile {
  display: flex;
  margin-right: 10px;
  margin-left: 50px;
}

.WorkingPile >div{
  margin-left: -40px;
}

.WorkingPile .Card{
  transform: rotate(360deg);
}

.WorkingPile.Left{
  flex-direction: row-reverse;
}

.CardPlaceholder{
  box-sizing:border-box;
  background-color: black;
  border-radius: 5px;
  width: 64px;
  height: 96px;
  opacity: 40%;
  border: 2px solid black;
}