.WorkingPile {
  display: flex;
  margin-right: 10px;
  margin-left: 50px;
}

.WorkingPile >div{
  margin-left: -40px;
}

.Left .WorkingPile{
    flex-direction: row-reverse;
}

.Right .WorkingPile .Card{
  transform: rotate(360deg);
}