.WorkingPile {
  display: flex;
  margin-right: 10px;
  margin-left: 50px;
}

.WorkingPile >div{
  margin-left: -40px;
}

.WorkingPile .Card{
  transform: rotate(360deg);
}

.WorkingPile.Left{
  flex-direction: row-reverse;
}