.BoardRow {
  display: flex;
  flex-direction: row;
}

.BoardRow .BoardColumn {
  flex: 1;
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
}

.BoardRow .BoardColumn.Left {
  flex-direction: row;
  justify-content: flex-end;
}

.BoardRow .BoardColumn.Right {
  flex-direction: row-reverse;
  justify-content: flex-end;
}